.button{
    margin: 3rem auto;
}

.main_button{
    width: 10rem;
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 3rem;
    background-color:#203239;
    color: antiquewhite;
    border: none;
}

.main_button:active{
    box-shadow: 0 1rem 1rem #EEEDDE;
    transform: translateY(4px);
}