.btn1{
    margin: 2rem auto;
}

.container{
    text-align: center;
    margin-top:-1rem;
}

.myname{
    padding-top: 5rem;
}

.h1{
    font-size: 2.3rem;
    color:#f7f5d6;
    margin: 4rem auto 1rem;
    width: 75%;
    font-weight: 4px;
}

.h1:hover{
    color: white;
    text-decoration: underline;
}

@media screen and (max-width:600px){
    .h1:hover{
        text-decoration: none;
        letter-spacing: 4px;
    }

    .h1{
        width: 60%;
        animation-name :slide-top;
        animation-duration: 4s;
        animation-delay: .1s;
        position: relative;
    }

    @keyframes slide-top {
        0%   {left:-200px; top:0px;}
        25%  { left:-10px; top:0px;}
        50%  { left:0px; top:0px;}
        75%  { left:10px; top:0px;}
        100% { left:20px; top:0px;}
    }
}