.davina {
    display: none;
    width: fit-content;
    margin: 10% auto;
}

.diver {
    text-align: centre;
    position: relative;
    top: 15%;
    left: 25%;
    width: 50%;
    color: #361500;
}

.main_page {
    text-align: centre;
    background-color: antiquewhite;
    height: 100vh;
}

.main_div {
    margin: 0 auto;
    height: 100vh;
    padding: 2rem;
    text-align: center;
}

.input1 {
    display: block;
    padding: 5px;
    margin: 10% auto 0;
    width: 20rem;
    height: 8%;
    border: none;
    background-color: #361500;
    color: white;
    text-align: center;
    font-size: larger;
    outline: none;
}

.input1:hover {
    position: relative;
    outline: none;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideRight {
    0% {
        background-color: #EEEDDE;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: #E0DDAA;
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: #CC9544;
        left: 0px;
        top: 0px;
    }

    100% {
        background-color: #361500;
        left: 0px;
        top: 0px;
    }
}


.input2 {
    display: block;
    padding: 5px;
    margin: 2rem auto;
    width: 20rem;
    height: 8%;
    border: none;
    background-color: #361500;
    color: white;
    text-align: center;
    font-size: larger;
    outline: none;
}

.input2:hover {
    position: relative;
    outline: none;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn {
    display: block;
    padding: 5px;
    width: 20rem;
    margin: 2rem auto;
    height: 7%;
    border-radius: 3rem;
    box-shadow: 0 5px 5px;
    font-size: larger;
}

.btn:active {
    box-shadow: none;
    border: none;
}

@media only screen and (max-width: 1000px) {
    .diver{
        margin: 0 0 2rem;
        width: fit-content;
        position: relative;
        left: .5rem;
        margin: 0 auto 2rem;
        height: fit-content;
    }

    .main_page{
        height: 100vh;
        padding: 2rem;
    }

    .davina{
        position: relative;
        top: 5rem;
    }
}
