.davina {
    display: none;
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 20%;
    left: 40%;
    margin: 8 35%;
}

.diver {
    text-align: centre;
    position: absolute;
    top: 15%;
    margin: 0 15%;
    width: 70%;
    color: #361500;
    background-color: antiquewhite;
}

.main_page {
    background-color: antiquewhite;
    height: 100vh;
    position: relative;
    text-align: center;
    display: block;
}

.main_div {
    height: fit-content;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 10%;
    display: block;
}

.input1 {
    display: block;
    margin: 10% auto 0;
    width: 20rem;
    height: 3rem;
    border: none;
    background-color: #361500;
    color: white;
    text-align: center;
    font-size: larger;
    outline: none;
}

.input1:hover {
    position: relative;
    outline: none;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.radio1{
    transform: scale(2);
    accent-color:#361500;
    margin: 0 12px 2rem 2rem;
}

.radio2{
    transform: scale(2);
    accent-color:#361500;
    margin: 2rem 12px 2rem 2rem;
}

@keyframes slideRight {
    0% {
        background-color: #eeedde;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: #e0ddaa;
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: #cc9544;
        left: 0px;
        top: 0px;
    }

    100% {
        background-color: #361500;
        left: 0px;
        top: 0px;
    }
}

.btn {
    display: block;
    width: 15rem;
    margin:  auto;
    height: 3rem;
    color: #361500;
    border-radius: 3rem;
    box-shadow: 0 5px 5px;
    font-size: larger;
}

.btn:active {
    box-shadow: none;
    border: none;
}

@media only screen and (max-width: 600px) {
    .diver {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 13%;
        padding: 5%;
    }

    .main_div {
        position: absolute;
        height: fit-content;
        top: 25%;
    }

    .davina {
        position: absolute;
        top: 55%;
        left: 33%;
        width: fit-content;
    }

    .main_page {
        height: 100vh;
        padding: 0;
        position: relative;
        text-align: center;
    }

    .input1 {
        width: 15rem;
    }

    .input2 {
        width: 15rem;
    }

    .btn {
        width: 15rem;
    }
}

